@charset "UTF-8";

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fontsPoppins-Medium.woff2") format("woff2"), url("../fontsPoppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fontsPoppins-Regular.woff2") format("woff2"), url("../fontsPoppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fontsPoppins-SemiBold.woff2") format("woff2"), url("../fontsPoppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  background-color: #0f1624;
  overflow: hidden;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  padding: 17px 30px;
  background: -webkit-gradient(linear, right top, left top, from(#008fa9), color-stop(66.67%, #4b5ab3), to(#6c35ae));
  background: -o-linear-gradient(right, #008fa9 0%, #4b5ab3 66.67%, #6c35ae 100%);
  background: linear-gradient(270deg, #008fa9 0%, #4b5ab3 66.67%, #6c35ae 100%);
  -webkit-box-shadow: 0px 10px 30px rgba(147, 94, 214, 0.35);
          box-shadow: 0px 10px 30px rgba(147, 94, 214, 0.35);
  border-radius: 43.5977px;
  border: none;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.button:hover {
  background: -webkit-gradient(linear, right top, left top, from(#31cbe5), color-stop(66.67%, #8796ef), to(#b27bf4));
  background: -o-linear-gradient(right, #31cbe5 0%, #8796ef 66.67%, #b27bf4 100%);
  background: linear-gradient(270deg, #31cbe5 0%, #8796ef 66.67%, #b27bf4 100%);
  -webkit-box-shadow: 0px 10px 30px rgba(0, 178, 255, 0.5);
          box-shadow: 0px 10px 30px rgba(0, 178, 255, 0.5);
  border-radius: 60px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  border-radius: 15px;
  border: 1px solid #945dd6;
  padding: 20px;
  cursor: pointer;
}

.card__title {
  padding-top: 25px;
  font-size: 16px;
  line-height: 24px;
}

.card__subtitle {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 21px;
  color: #929eb0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.card__button-button {
  padding: 15px 25px;
}

.footer-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 30px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.footer-body__title {
  background: -webkit-gradient(linear, right top, left top, from(#13adc7), color-stop(66.67%, #6978d1), to(#945dd6));
  background: -o-linear-gradient(right, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.footer-body__menu {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding-top: 20px;
}

.footer-body__list {
  font-size: 12px;
  line-height: 20px;
}

.footer-body__link {
  text-decoration: none;
  color: #ffffff;
  border-bottom-width: 2px;
  background-image: -webkit-gradient(linear, right top, left top, from(#008fa9), color-stop(66.67%, #4b5ab3), to(#6c35ae));
  background-image: -o-linear-gradient(right, #008fa9 0%, #4b5ab3 66.67%, #6c35ae 100%);
  background-image: linear-gradient(270deg, #008fa9 0%, #4b5ab3 66.67%, #6c35ae 100%);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 500ms;
  -o-transition: background-size 500ms;
  transition: background-size 500ms;
  padding-bottom: 3px;
}

.footer-body__link:hover {
  background-size: 100% 2px;
}

.footer-body .footer-body__social-media {
  position: absolute;
  right: 0;
  top: 45px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

header {
  height: 87px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-body__portfolio-info {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.header-body__portfolio-info a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}

.header-body__navigation {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.header-body__social-media {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 43px;
     -moz-column-gap: 43px;
          column-gap: 43px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-nav__items {
  padding-top: 30px;
}

.menu-nav__link {
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  position: relative;
}

.menu-nav__link {
  border-bottom-width: 2px;
  background-image: -webkit-gradient(linear, right top, left top, from(#008fa9), color-stop(66.67%, #4b5ab3), to(#6c35ae));
  background-image: -o-linear-gradient(right, #008fa9 0%, #4b5ab3 66.67%, #6c35ae 100%);
  background-image: linear-gradient(270deg, #008fa9 0%, #4b5ab3 66.67%, #6c35ae 100%);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 500ms;
  -o-transition: background-size 500ms;
  transition: background-size 500ms;
  padding-bottom: 3px;
}

.menu-nav__link:hover {
  background-size: 100% 2px;
}

.svg-linkedin-dims {
  cursor: pointer;
  background: white;
  border-radius: 2px;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.svg-linkedin-dims:hover {
  background: -webkit-gradient(linear, right top, left top, from(#008fa9), color-stop(66.67%, #4b5ab3), to(#6c35ae));
  background: -o-linear-gradient(right, #008fa9 0%, #4b5ab3 66.67%, #6c35ae 100%);
  background: linear-gradient(270deg, #008fa9 0%, #4b5ab3 66.67%, #6c35ae 100%);
}

.main {
  padding-top: 60px;
}

.hero-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.hero-page #typing-text {
  font-size: 24px;
  line-height: 36px;
  display: inline;
}

.hero-page__title-typing {
  color: white;
  max-width: 173px;
  background: -webkit-gradient(linear, right top, left top, from(#13adc7), color-stop(66.67%, #6978d1), color-stop(90%, #945dd6));
  background: -o-linear-gradient(right, #13adc7 0%, #6978d1 66.67%, #945dd6 90%);
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  border-right: 2px solid #945dd6;
  /* Граница, которая будет создавать эффект печати */
  white-space: nowrap;
  /* Текст не будет переноситься на новую строку */
  overflow: hidden;
  /* Скрытие текста, который еще не напечатан */
  -webkit-animation: typing 3s steps(20) forwards, flashing 1s infinite;
          animation: typing 3s steps(20) forwards, flashing 1s infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@-webkit-keyframes flashing {
  0% {
    border-color: #13adc7;
  }

  50% {
    border-color: #6978d1;
  }

  100% {
    border-color: #945dd6;
  }
}

@keyframes flashing {
  0% {
    border-color: #13adc7;
  }

  50% {
    border-color: #6978d1;
  }

  100% {
    border-color: #945dd6;
  }
}

.hero-page__subtitle {
  font-size: 20px;
  line-height: 26px;
  padding-top: 10px;
  color: white;
}

.hero-page__subtext {
  color: white;
  padding: 16px 0 30px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #929eb0;
}

.hero-page__button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 45px 0 60px 0;
  z-index: 10;
}

.hero-page__avatar {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 207px;
  height: 207px;
  -webkit-filter: drop-shadow(0px 20px 50px rgba(0, 178, 255, 0.25));
          filter: drop-shadow(0px 20px 50px rgba(0, 178, 255, 0.25));
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.hero-page__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 20;
}

.hero-page__avatar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#13adc7), color-stop(#6978d1), to(#945dd6));
  background: -o-linear-gradient(bottom, #13adc7, #6978d1, #945dd6);
  background: linear-gradient(to top, #13adc7, #6978d1, #945dd6);
  -webkit-mask-image: radial-gradient(circle, transparent 69%, #000 31%);
  mask-image: radial-gradient(circle, transparent 70%, #000 21%);
  overflow: hidden;
}

.hero-page .circle {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 3s ease;
  transition: -webkit-transform 3s ease;
  -o-transition: transform 3s ease;
  transition: transform 3s ease;
  transition: transform 3s ease, -webkit-transform 3s ease;
}

.hero-page__circle {
  position: relative;
}

.hero-page .circle-grow {
  position: absolute;
  left: -180px;
  top: -20px;
  width: 400px;
  height: 400px;
  background: -webkit-gradient(linear, left bottom, left top, from(#13adc7), color-stop(#6978d1), to(#945dd6));
  background: -o-linear-gradient(bottom, #13adc7, #6978d1, #945dd6);
  background: linear-gradient(to top, #13adc7, #6978d1, #945dd6);
  -webkit-mask-image: radial-gradient(circle, transparent 70%, #000 11%);
  mask-image: radial-gradient(circle, transparent 70%, #000 11%);
  -webkit-box-shadow: 0px 10px 30px rgba(0, 178, 255, 0.35);
          box-shadow: 0px 10px 30px rgba(0, 178, 255, 0.35);
  -webkit-animation: grow 3s infinite;
          animation: grow 3s infinite;
}

.hero-page .circle-shrink {
  position: absolute;
  right: 0px;
  top: 100px;
  width: 150px;
  height: 150px;
  background-color: #6978d1;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 178, 255, 0.35);
          box-shadow: 0px 10px 30px rgba(0, 178, 255, 0.35);
  -webkit-animation: shrink 3s infinite;
          animation: shrink 3s infinite;
}

@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes shrink {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.technologies-page {
  padding-top: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.technologies-menu__list {
  position: relative;
  padding-left: 15px;
}

.technologies-menu__list::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 7px;
  height: 7px;
  background-color: #6978d1;
  border-radius: 50%;
  overflow: hidden;
}

.technologies-menu__list:not(:last-child) {
  margin-bottom: 8px;
}

.summary-page {
  padding-top: 70px;
}

.summary-page__title {
  padding-bottom: 38px;
}

.summary-page__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #929eb0;
}

.education-page {
  padding-top: 50px;
}

.education-page__title {
  padding-bottom: 10px;
}

.education-page__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #929eb0;
}

.projects-page {
  padding-top: 50px;
  color: #ffffff;
}

.projects-page__title {
  padding-bottom: 30px;
}

.projects-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-page__card {
  margin-bottom: 30px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 280px;
  }
}

@media screen and (min-width: 390px) {
  .container {
    width: 350px;
  }
}

@media screen and (min-width: 414px) {
  .container {
    width: 374px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 440px;
  }
}

@media screen and (min-width: 640px) {
  .container {
    width: 600px;
  }

  .card {
    width: 40%;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .card__button {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
  }

  .footer-body__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer-body__menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .footer-body .footer-body__social-media {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: relative;
    top: 0;
    right: 0;
  }

  header {
    padding-top: 0px;
  }

  .header-body__portfolio-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header-body__navigation {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .header-body__social-media {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .menu-nav__items {
    padding-top: 0;
  }

  .hero-page__subtext {
    max-width: 300px;
    z-index: 22;
  }

  .hero-page__avatar {
    position: absolute;
    right: 36px;
    top: -20px;
  }

  .hero-page .circle-grow {
    left: 160px;
    top: -330px;
    z-index: -1;
  }

  .hero-page .circle-shrink {
    right: 0;
    top: -183px;
  }

  .projects-page__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 728px;
  }

  .card__button-button {
    min-width: 80px;
    text-align: center;
  }

  .hero-page .circle-grow {
    left: 285px;
  }

  .projects-page__body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 952px;
  }

  .title {
    font-size: 26px;
    line-height: 28px;
  }

  .card {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .card__button-button {
    min-width: 120px;
  }

  .card__button-button {
    min-width: 150px;
  }

  .footer-body__title {
    font-size: 16px;
    line-height: 27px;
  }

  .footer-body__list {
    font-size: 16px;
    line-height: 27px;
  }

  .hero-page__subtext {
    max-width: 600px;
  }

  .hero-page__avatar {
    right: 86px;
  }

  .hero-page .circle-grow {
    left: 445px;
    top: -230px;
  }

  .hero-page .circle-shrink {
    right: 30px;
    top: -103px;
  }

  .technologies-page {
    font-size: 18px;
    line-height: 25px;
  }

  .technologies-menu__list {
    padding-left: 25px;
  }

  .technologies-menu__list::before {
    width: 10px;
    height: 10px;
    top: 7px;
  }

  .projects-page__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }

  .hero-page .circle-grow {
    left: 585px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1159px;
  }

  .footer-body__menu {
    -webkit-column-gap: 115px;
       -moz-column-gap: 115px;
            column-gap: 115px;
  }

  .menu-nav {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }

  .hero-page .circle-grow {
    left: 649px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1159px;
  }
}

@media screen and (min-width: 1700px) {
  .container {
    width: 1170px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    width: 1170px;
  }

  .hero-page .circle-grow {
    left: 658px;
  }
}