.card {
   display: flex;
   flex-direction: column;
   max-width: 100%;
   border-radius: 15px;
   border: 1px solid #945dd6;
   padding: 43px;
   cursor: pointer;
   @media screen and (min-width: 320px) {
      padding: 15px;
   }
   @media screen and (min-width: 640px) {
      width: 100%;
      column-gap: 10px;
   }
   @media screen and (min-width: 992px) {
      width: 39%;
      column-gap: 10px;
   }
   @media screen and (min-width: 768px) {
      width: 36%;
      column-gap: 10px;
      padding: 40px;
   }
   @media screen and (min-width: 1000px) {
      width: 39%;
   }
   @media screen and (min-width: 1440px) {
      // width: 500px;
   }

   // .card__images

   &__images img {
      max-width: 480px;
      width: 100%;
      @media screen and (min-width: 640px) {
         max-width: 100%;
      }
   }

   // .card__title
   &__title {
      padding-top: 25px;
      font-size: 16px;
      line-height: 24px;
   }

   // .card__subtitle

   &__subtitle {
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 21px;
      color: #929eb0;
      flex: 1 1 auto;
   }

   // .card__button

   &__button {
      display: flex;
      column-gap: 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      @media screen and (min-width: 414px) {
         column-gap: 10px;
         justify-content: space-between;
      }
   }
   @media screen and (max-width: 414px) {
      .card__button {
         flex-direction: column;
         row-gap: 15px;
         text-align: center;
      }
   }
   // .card__button-button

   &__button-button {
      padding: 15px 25px;
      // @media screen and (max-width: 320px) {
      //    min-width: 75px;
      //    // padding: 10px 15px;
      //    text-align: center;
      // }
      // @media screen and (min-width: 320px) {
      //    min-width: 65px;
      //    // padding: 10px 15px;
      //    text-align: center;
      // }
      @media screen and (min-width: 414px) {
         min-width: 95px;
         text-align: center;
      }
      @media screen and (min-width: 540px) {
         min-width: 140px;
         // text-align: center;
      }
      @media screen and (min-width: 768px) {
         min-width: 80px;
      }
      @media screen and (min-width: 992px) {
         min-width: 120px;
      }
      // @media screen and (min-width: 992px) {
      //    min-width: 1px;
      // }
      @media screen and (min-width: 992px) {
         min-width: 130px;
      }
      @media screen and (min-width: 1440px) {
         // padding: 25px 50px;
         min-width: 170px;
         // text-align: center;
      }
   }
}
