.main {
   padding-top: 60px;
}
.hero-page {
   // .hero-page__body

   &__body {
      display: flex;
      flex-direction: column;
      position: relative;
   }
   #typing-text {
      font-size: 24px;
      line-height: 36px;
      display: inline;
   }
   &__title-typing {
      color: #ffff;
      max-width: 173px;
      background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      border-right: 2px solid #945dd6; /* Граница, которая будет создавать эффект печати */
      white-space: nowrap; /* Текст не будет переноситься на новую строку */
      overflow: hidden; /* Скрытие текста, который еще не напечатан */
      animation: typing 3s steps(20) forwards, flashing 1s infinite;

      @keyframes typing {
         from {
            width: 0;
         }
         to {
            width: 100%;
         }
      }
   }
   @keyframes flashing {
      0% {
         border-color: #13adc7;
      }
      50% {
         border-color: #6978d1;
      }
      100% {
         border-color: #945dd6;
      }
   }

   // .hero-page__subtitle

   &__subtitle {
      font-size: 20px;
      line-height: 26px;
      padding-top: 10px;
      color: #ffff;
   }

   // .hero-page__subtext

   &__subtext {
      color: #ffff;
      padding: 16px 0 30px 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #929eb0;

      @media screen and (min-width: 640px) {
         max-width: 300px;
         z-index: 22;
      }
      @media screen and (min-width: 992px) {
         max-width: 600px;
      }
   }

   // .hero-page__button

   &__button {
      order: 2;
      padding: 45px 0 60px 0;
      z-index: 10;
   }

   // .hero-page__avatar

   &__avatar {
      order: 1;
      width: 207px;
      height: 207px;
      filter: drop-shadow(0px 20px 50px rgba(0, 178, 255, 0.25));
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      @media screen and (min-width: 640px) {
         position: absolute;
         right: 36px;
         top: -20px;
      }
      @media screen and (min-width: 992px) {
         right: 86px;
      }
   }
   &__avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 20;
   }
   &__avatar::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #13adc7, #6978d1, #945dd6);
      -webkit-mask-image: radial-gradient(circle, transparent 69%, #000 31%);
      mask-image: radial-gradient(circle, transparent 70%, #000 21%);
   }
   .circle {
      border-radius: 50%;
      transition: transform 3s ease;
   }
   &__circle {
      position: relative;
   }

   .circle-grow {
      position: absolute;
      left: -180px;
      top: -20px;
      width: 400px;
      height: 400px;
      background: linear-gradient(to top, #13adc7, #6978d1, #945dd6);
      -webkit-mask-image: radial-gradient(circle, transparent 70%, #000 11%);
      mask-image: radial-gradient(circle, transparent 70%, #000 11%);
      box-shadow: 0px 10px 30px rgba(0, 178, 255, 0.35);
      animation: grow 3s infinite;
      @media screen and (min-width: 640px) {
         left: 160px;
         top: -330px;
         z-index: -1;
      }
      @media screen and (min-width: 768px) {
         left: 285px;
      }
      @media screen and (min-width: 992px) {
         left: 445px;
         top: -230px;
      }
      @media screen and (min-width: 1200px) {
         left: 585px;
      }
      @media screen and (min-width: 1440px) {
         left: 649px;
      }
      @media screen and (min-width: 1920px) {
         left: 658px;
      }
   }

   .circle-shrink {
      position: absolute;
      right: 0px;
      top: 100px;
      width: 150px;
      height: 150px;
      background: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
      box-shadow: 0px 10px 30px rgba(0, 178, 255, 0.35);
      animation: shrink 3s infinite;
      @media screen and (min-width: 640px) {
         right: 0;
         top: -183px;
      }
      @media screen and (min-width: 992px) {
         right: 30px;
         top: -103px;
      }
   }

   @keyframes shrink {
      0% {
         transform: scale(0.7);
      }
      50% {
         transform: scale(1);
      }
      100% {
         transform: scale(0.7);
      }
   }
   @keyframes grow {
      0% {
         transform: scale(1);
      }
      50% {
         transform: scale(0.7);
      }
      100% {
         transform: scale(1);
      }
   }
}

.technologies-page {
}
.technologies-menu {
   // .technologies-menu__list

   &__list {
   }
}
.summary-page {
   // .summary-page__title

   &__title {
   }

   // .summary-page__subtitle

   &__subtitle {
   }
}
.education-page {
   // .education-page__body

   &__body {
   }

   // .education-page__title

   &__title {
   }

   // .education-page__menu

   &__menu {
   }

   // .education-page__list

   &__list {
   }
}
