.projects-page {
   padding-top: 50px;
   color: #ffffff;
   // .projects-page__title

   &__title {
      padding-bottom: 30px;
   }

   // .projects-page__body

   &__body {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 640px) {
         flex-direction: row;
         flex-wrap: wrap;
         column-gap: 20px;
      }
      @media screen and (min-width: 768px) {
         justify-content: space-around;
      }
      @media screen and (min-width: 992px) {
         justify-content: center;
         column-gap: 30px;
      }
      @media screen and (min-width: 1440px) {
         // justify-content: space-between;
      }
   }

   // .projects-page__card

   &__card {
      margin-bottom: 30px;
   }
}
